################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Gma.QrCodeNet/Gma.QrCodeNet.Demo/obj/x86/Debug
/Gma.QrCodeNet/Gma.QrCodeNet.Demo/bin/Debug
/Gma.QrCodeNet/Gma.QrCodeNet.Encoder/bin/Release
/Gma.QrCodeNet/Gma.QrCodeNet.Encoder/obj/Release
/Gma.QrCodeNet/Gma.QrCodeNet.Encoding.Tests/bin/Debug
/Gma.QrCodeNet/Gma.QrCodeNet.Encoding.Tests/obj/Debug
/Gma.QrCodeNet/Gma.QrCodeNet.WPF.Demo/bin/Debug
/Gma.QrCodeNet/Gma.QrCodeNet.WPF.Demo/obj/x86/Debug
/Gma.QrCodeNet/.vs/Gma.QrCodeNet/v14
